# Python virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Other common files to ignore
*.log
*.sqlite3

# Files
commands.txt
08-bag_of_words/sms_spam_collection/SMSSpamCollection
11-ann_classification/Churn_Modelling.csv