# Python virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Other common files to ignore
*.log
*.sqlite3

# Files
commands.txt
08-bag_of_words/sms_spam_collection/SMSSpamCollection
11-ann_classification/Churn_Modelling.csv
11-ann_classification/label_encoder_gender.pkl
11-ann_classification/ohe_geography.pkl
11-ann_classification/scaler.pkl
11-ann_classification/logs
11-ann_classification/regression_logs
11-ann_classification/model.h5
11-ann_classification/regression_model.h5